.main-container {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form-container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.health-form {
  padding: 5%;
  border: 1px thin rgb(141, 140, 140);
  height: 94%;
  width: 68%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.health-form h1 {
  margin-top: -5px;
  margin-bottom: 40px;
}

.health-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row;
}

.health-form div input {
  height: 38px;
  width: 210px;
  border: 1px thin gray;
}

.health-form div :nth-child(1) {
  margin-right: 35px;
}

.health-form div {
  padding: 20px;
}

.health-form .gender-radio {
  width: 16px;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

:-moz-placeholder {
  font-size: 16px;
}

.sex-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.health-form .sex-radio :nth-child(1) {
  margin-right: 10px;
}
.sex-radio :nth-child(2) {
  margin-right: 10px;
  margin-left: 50px;
}

.health-form button {
  height: 38px;
  width: 190px;
  border: none;
  color: white;
  background-color: rgb(252, 59, 59);
  cursor: pointer;
  margin-top: 30px;
  border-radius: 19px;
  font-size: 14px;
}

.health-form button:active {
  background-color: rgb(254, 147, 147);
  transition: 0.3s all ease-out;
}

input[type="number"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="number"]:focus {
  background: transparent;
  border: none;
  border-bottom: 1px thin #000000;
}

.result-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-container .result1 {
  width: 100%;
  height: 50%;
}

.result-container .result2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}

.result-tag {
  transition: 0.4s all ease;
  width: 95%;
  height: 26%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}

.result-tag p {
  font-family: "Open Sans", sans-serif;
}

.consult-form {
  width: 95%;
  border-radius: 10px;
  padding: 10px;
  height: 85%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.consult-form h1 {
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
  font-size: 24px;
  color: rgb(22, 124, 208);
}

.consult-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consult-form form input {
  height: 38px;
  width: 185px;
  border: 1px thin gray;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}

.consult-form button {
  width: 170px;
  align-self: center;
  height: 32px;
  margin-bottom: 10px;
  border-radius: 16px;
  border: none;
  background-color: rgb(252, 59, 59);
  color: white;
  cursor: pointer;
}

.consult-form button:active {
  background-color: rgb(254, 147, 147);
  transition: 0.3s all ease-out;
}
